body {
  padding-left: 5em;
  padding-right: 5em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.player {
  color: red;
}

.deck {
  color: tomato;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  border-style: solid;
  border-color: tomato;
  border-width: thin;
  width: 7em;
  margin: 0.25em;
  text-align: center;
}
