body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.player {
  color: red;
}

.deck {
  color: tomato;
  display: flex;
}

.card {
  border-style: solid;
  border-color: tomato;
  border-width: thin;
}
